
.square{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 5px;
}


.square:hover{
    cursor: pointer;
    background-color: aquamarine;
}


.not-allowed{
    cursor: not-allowed !important
}


.cross-won{
    background-color: greenyellow;
}


.circle-won{
    background-color: rgb(18, 195, 169);
}